* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.keyboard, #output{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, .3), -8px -8px 15px rgb(245, 245, 245, .25);
    border-radius: 20px


}
.keyboard {
    margin: 10px 0 0 0;
}
#delall {
    font-size: 8px;
    font-weight:lighter;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #b9b9b9;
    
}
.row {
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

#output {
    margin: 0 auto;
    color: black;
    font-family: monospace;

}

.key {
    /* flex-shrink: 1; */
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid #a3b1c6;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, .3), -5px -5px 15px rgb(245, 245, 245, .25);
    margin: 5px;
    background: #1d1d1d;




}




#spacebar {
    width: 300px;

}