.letter {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    font-size: larger;
    transition: background-color 0.25s ease;
    /* transition-duration: 2s; */
}

.guesses {
    /* display: grid;
    grid-template-columns: 1; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}
body div {
    margin: 0 auto;
}
header {
    text-align: center;
    border-bottom: 0.5px solid gray;
    padding-bottom: 5px;
    margin: 15px;

}
.active {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

/* Keyboard CSS Below Here */
.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, .3), -8px -8px 15px rgb(245, 245, 245, .25);
    border-radius: 20px;
    flex: 0 0 50px;
}
.keyboard {
    margin: 10px 0 0 0;
    background-color: #b9b9b9;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 300px;

}
.row {
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
#output {
    margin: 0 auto;
    color: black;
    font-family: monospace;

}
.key {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 2px solid #a3b1c6;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, .3), -5px -5px 15px rgb(245, 245, 245, .25);
    /* margin: 5px; */
    background: #1d1d1d;
    color: white;
}
#enter {
    width: 80px;
}

/* menu styling */
/* Referenced This: https://stackoverflow.com/questions/33444666/how-to-center-align-one-flex-item-and-right-align-another-using-flexbox */
header {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #menu {
    display: none;
  }
  
  header a, div a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  div a {
      margin-top: -15px;
      transition-duration: 0.25s;
  }
  div a:hover {
    background: rgb(204, 204, 204);
  }
  #clock, #spark, #word {
      /* display: none; */
      width: 17px;
      height: auto;
      display: inline-block;
      padding-right: 5px;
  }
  #chronol, #Speedle, #wordle{
      display: flex;
      align-items: center;
  }

  /* Style the hamburger menu */
  .icon {
    flex: 0 1 auto;
    margin-left: auto;
    transition-duration: 0.25s;
  }

  .icon:hover {
    background: rgb(204, 204, 204);

  }

  .active {
    color: rgb(0, 0, 0);
    flex: 0 1 auto;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
  }

  p, img.reset {
      text-align: center;
      margin: 5px auto;
      z-index: 100;
  }

  img.reset {
      width: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      margin-top: -2px;
  }

  #startGame{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  #original {
    font-family: 'Monoton', cursive;
    color: rgb(54, 131, 54);
  }
  #speedle {
    font-family: 'Damion', cursive;
    color: rgb(170, 2, 2);
    font-size: 40px;
  }

  /* Chronol Copy Stuff */
  .end {
      margin-right: 30px;
  }
  #decoder {
      margin: 20px auto;;
  }
  .hint {
    font-family: monospace;
    font-size: 18px;
  }
  #cryptol {
      font-family: monospace;
  }
  #cryptolBody {
      min-width: 625px;
  }
  body {
      min-width: 375px;
  }

/* header {
    background-image: url(matrix.gif);
} */